
.parent {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
}

.margin{
    margin-top: 8%;
    margin-bottom: 2%;
}
.select{
    height: 34px;
    border-radius: 5px;
}
.input{
    height: 34px;
    border-radius: 5px;
    padding: 5px;
}
.search-btn{
    height: 34px;
    border-radius: 5px;
}
.inputstyle{
    margin-left: 10%;
}

.card-style{
    max-width: 250px;
    max-height: 500px;
    margin: 20px;
}